<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.url">postgresql://postgres:jlebPuVV7mnsF0PrlPbR@containers-us-west-139.railway.app:6213/railway</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">ZMGt5Y4UW4vPb62rmis6</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="Domain.Patient"/>
  </session-factory>
</hibernate-configuration>
